body {
 background: #eee;
 color: #666666;
 font-size: 16px;
 line-height: 1.5;
}

.navbar { margin-bottom: 10px }

.navbar .navbar-inner {
 border-radius: 0px 0px 3px 3px;
 height: 40px;
}

#spinner { height: 300px }
