<template name="plans">
  <div class="plans">
    <div class="page-header">
      <h1>Планы чтения</h1>
    </div>
    <div class="row">
      {{#each items}}
        <div class="col-md-4">
          <h4>{{name}}</h4>
          <div>
            <a href="{{pathFor 'planDetails'}}">
              <button class="btn btn-md btn-success">Подробнее</button>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<template name="myPlans">
  <div class="plans">
    <div class="page-header">
      <h1>Мои планы</h1>
    </div>
    <div class="row">
      {{#each items}}
        <div class="col-md-4">
          <h4>{{name}}</h4>
          <div>
            <a href="{{pathFor 'planDetails'}}">
              <button class="btn btn-md btn-success">Подробнее</button>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>

<!--
<template name="plan">
  </div>
  <div class="modal fade" id="planDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
          <h4 class="modal-title" id="myModalLabel">Дневник</h4>
        </div>
        <div class="modal-body">
          {{desc}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Сохранить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</template>
-->

<template name="planDetails">
  <div>
    <h3>{{name}}</h3>
    <h4>{{desc}}</h4>
    <button class="btn btn-md btn-success" id="btn-plan-add">Добавить</button>
  </div>
</template>
