<template name="plans">
  <div class="plans">
    <div class="page-header">
      <h1>Планы чтения</h1>
    </div>
    <div class="row">
      {{#each items}}
        {{>plan}}
      {{/each}}
    </div>
  </div>
</template>

<template name="plan">
  <div class="col-md-4">
    <h4>{{name}}</h4>
    {{desc}}
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#planDetailsModal">Подробнее</button>
    <button class="btn btn-success btn-lg" id="btn-plan-add">Добавить</button>
  </div>

  <div class="modal fade" id="planDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрыть</span></button>
          <h4 class="modal-title" id="myModalLabel">Дневник</h4>
        </div>
        <div class="modal-body">
          {{desc}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Сохранить</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

</template>

<template name="planDetails">

</template>
