<template name="userDiaryBox">
  <div class="col-md-4">
    {{#with joinWithDiaries}}
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="fa fa-edit fa-5x pull-left fa-border"></span>
          <h4><strong>{{name}}</strong></h4>
          <div>
            {{desc}}
          </div>
        </div>
        <div align="center" class="panel-footer">
          <a href="{{pathFor 'userDiaryDetails'}}">
            <button class="btn btn-sm btn-default">Подробнее</button>
          </a>
        </div>
      </div>
    {{/with}}
  </div>
</template>
