<template name="userDiaryDetails">
  {{#with joinWithDiaries}}
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'diaries'}}">Мои дневники</a></li>
      <li class="active">{{user_diary_name}}</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-heading"><strong><h4>{{user_diary_name}}</h4></strong></div>
      <div class="panel-body">
        <span class="fa fa-edit fa-5x pull-left"></span>
        <h4><strong>Тип:</strong> {{name}}</h4>
        <span>{{desc}}</span>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4>Статистика</h4>
        </li>
        <li class="list-group-item">
          <div>
            Заполнено <span class="badge">20 дней</span>
          </div>
        </li>
        <li class="list-group-item">
          <div>Потрачено <span class="badge">10 часов</span></div>
        </li>
      </ul>
      <div align="center" class="panel-footer">
        <button class="btn btn-md btn-default" id="btn-diary-clear">Очистить</button>
        <button class="btn btn-md btn-default" id="btn-diary-delete">Удалить</button>
      </div>
    </div>
  {{/with}}
</template>
