<template name="profile">
  <!--<div class="profile">
    <h2>Профиль</h2>
  </div>-->

  <div class="container">
    <!-- <h1 class="page-header">Edit Profile</h1> -->
    <div class="row">
      <!-- left column -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img src="http://2.bp.blogspot.com/-FSv5i_R6qvo/TgKQmsqaNtI/AAAAAAAACTM/znZ2YknJMxA/s200/User.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Загрузить фото...</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
      </div>

      <div class="col-md-7 col-sm-6 col-xs-12 personal-info">
      <!--
          <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
      -->
        <ul class="nav nav-pills" role="tablist">
          <li class="active"><a href="#personal" role="tab" data-toggle="tab">Личные данные</a></li>
          <li><a href="#translations" role="tab" data-toggle="tab">Переводы</a></li>
          <li><a href="#interface" role="tab" data-toggle="tab">Интерфейс</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="personal">
            <form>
              {{#each profileFields}}
                {{> _profileField}}
              {{/each}}
              <br/>
              <div align="center">
                <p>{{submit_button 'Сохранить'}}</p>
              </div>
            </form>
          </div>

          <div class="tab-pane" id="translations">
            {{>translations}}
          </div>

          <div class="tab-pane" id="interface">
            {{>interface}}
          </div>
        </div>
<!--
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" value="Jane" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" value="Bishop" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" value="janesemail@gmail.com" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" value="11111122333" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" value="11111122333" type="password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input class="btn btn-primary" value="Save Changes" type="button">
              <span></span>
              <input class="btn btn-default" value="Cancel" type="reset">
            </div>
          </div>
        </form>
-->

      </div>
    </div>
  </div>
</template>

<template name="_profileField">
  {{#if isTextField}}
    <div class="form_group">
      {{#with profile}}
        {{text_field ../name type=../type required=../required hint=../hint placeholder=../placeholder afterAddon=../afterAddon class="profileField"}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isTextArea}}
    <div class="form_group">
      {{#with profile}}
        {{text_area ../name type=../type required=../required hint=../hint placeholder=../placeholder afterAddon=../afterAddon class="profileField"}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isCheckbox}}
    <div class="checkbox">
      {{#with profile}}
        {{check_box name label=label required=required}}
      {{/with}}
    </div>
  {{/if}}

  {{#if isFileField }}
    <div class="form_group">
      {{> file_field object=profile field=name}}
    </div>
  {{/if}}
</template>

<template name="translations">
  <h4>Доступные переводы</h4>
</template>

<template name="interface">
  <h4>Интерфейс</h4>
</template>
